{% extends "layout.html" %} {% block content %}

<!-- Botões em linha com espaçamento -->
<div class="d-flex flex-wrap gap-2 mb-3">
  {% for device in device_list() %}
  <button
    class="btn btn-outline-primary device-btn"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#buttons-{{ loop.index }}"
    aria-expanded="false"
    aria-controls="buttons-{{ loop.index }}"
    onclick="setActiveButton(this)"
  >
    {{ device }}
  </button>
  {% endfor %}
</div>

<!-- Divs colapsáveis ficam abaixo dos botões -->
<div>
  {% for device in device_list() %}
  <div class="collapse mb-3" id="buttons-{{ loop.index }}">
    {% with device=device %} {% include "root/partials/reader.html" %} {%
    endwith %}
  </div>
  {% endfor %}
</div>

{% include "root/partials/table_tags.html" %} {% endblock %}
